body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    display: flex;
    flex-wrap: wrap;

    width: 100vw;
    height: 100vh;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-color {
    background-color: black;
}